body {
    position: relative;
    width: 300px;
    height: 750px;
    background: F6F5F3;
  }

  .logo{
    position: absolute;
    width: 56px;
    height: 62px;
    left: calc(50% - 56px/2);
    top: 17px;
  }

  .name{
    position: absolute;
    width: 159px;
    height: 30px;
    left: calc(50% - 159px/2 + 0.5px);
    top: 89px;

    font-family: 'Courier Prime', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.5em;

    color: #5B5B5B;
  }

  .line1{
    position: absolute;
    width: 253px;
    height: 14px;
    left: calc(50% - 253px/2 + 0.5px);
    top: 160px;

    font-family: 'Courier Prime', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #5B5B5B;
  }

.adress{
  position: absolute;
  width: 202px;
  height: 28px;
  left: calc(50% - 202px/2);
  top: 130px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.25em;

  color: #5B5B5B;
}

.pollution{
    position: absolute;
    width: 86px;
    height: 45px;
    left: calc(50% - 86px/2 - 86px);
    top: 193px;

    font-family: 'Courier Prime', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    color: #5B5B5B;
}

.emissions{
  position: absolute;
  width: 80px;
  height: 56px;
  left: calc(50% - 80px/2 + 88px);
  top: 185px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;

  color: #5B5B5B;
}

.list{
  position: absolute;
  width: 93px;
  height: 16px;
  left: calc(50% - 93px/2 - 0.5px);
  top: 325px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */


  color: #FF0000;
}

.restgood{
  position: absolute;
  width: 253px;
  height: 32px;
  left: calc(50% - 253px/2 + 2.5px);
  top: 417px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #5B5B5B;
}

.line2{
  position: absolute;
  width: 253px;
  height: 14px;
  left: calc(50% - 253px/2 + 0.5px);
  top: 461px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  color: #5B5B5B;
}

.count{
  position: absolute;
  width: 80px;
  height: 14px;
  left: calc(50% - 80px/2 - 86px);
  top: 490px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #5B5B5B;
}

.subtotal{
  position: absolute;
  width: 116px;
  height: 14px;
  left: calc(50% - 116px/2 - 68px);
  top: 514px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #5B5B5B;
}

.savings{
  position: absolute;
  width: 109px;
  height: 14px;
  left: calc(50% - 109px/2 - 71.5px);
  top: 538px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #5B5B5B;
}

.line3{
  position: absolute;
  width: 253px;
  height: 14px;
  left: calc(50% - 253px/2 + 0.5px);
  top: 552px;

  font-family: 'Courier Prime', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #5B5B5B;
}
